<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <target name="allfile" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
       layout="${longdate} ${uppercase:${level}}: ${message}${exception:format=tostring}" >
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" backgroundColor="White" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

    <target name="assess_log" xsi:type="Console" useDefaultRowHighlightingRules="false"
       layout="${longdate} Acce: ${message}" >
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--Output hosting lifetime messages to console target for faster startup detection -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    
    <logger name="AccessLog*" minlevel="Info" writeTo="assess_log" final="true"/>
    
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Info" writeTo="allfile"/>

  </rules>
</nlog>